# ==========================
# Git
# ==========================
.git
.gitignore

# ==========================
# Python cache
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual environments
# ==========================
.venv/
venv/
env/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Airflow logs
# ==========================
logs/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# Test
# ==========================
tests/
.pytest_cache/

# ==========================
# ML training cache
# ==========================
src/ml/catboost_info/

# ==========================
# Documentation
# ==========================
docs/

# ==========================
# Runtime files
# ==========================
*.log
*.tmp
*.bak

# ==========================
# Environment
# ==========================
.env
.env.*